<div class="viewAct">
    <H1 class="title">Activities</H1>
    <div class="tile is-ancestor activity-card">
        {{#each user}}
        <article class="tile is-child">
            <p class="title">{{user.name}}'s Activity:{{user.activities.activityName}}</p>
            <p class="subtitle">Date:{{user.activities.date}}</p>
            <div class="content">
                <ul>
                    <li>Activity Description: {{user.activities.activityDes}}</li>
                    <li>Rigor: {{user.activities.rigor}}</li>
                    <li>Mileage: {{user.activities.mileage}}</li>
                    <li>Duration: {{user.activities.duration}}</li>
                </ul>
            </div>
        </article>
        {{/each}}
    </div>
</div>